<h1><%= @user.username %>'s Dashboard</h1>

<p>Score: <%= @user.score %></p>

<%= link_to "All Ideas", ideas_path  %>
<%= link_to "New Idea", new_user_idea_path(@user) %>
<%= link_to "Your Ideas", user_ideas_path(@user)  %>

